@import "@{templateCommon}/basekit-bootstrap.less";


/* ===============================
   TEMPLATE STYLES
   =============================== */

body {
    background-color: @color-swatch3;
    background-image: image('/images/bg.png');
    background-repeat: repeat;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

@media only screen and (min-width: 1140px) { 
    .wrapper {
        width: 90%;
        /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ===============================
   CUSTOM CSS
   =============================== */

.main {
    padding: 40px 0
}

.canvas  {
  background-color: @color-swatch1;
  max-width: 1160px;
  width: 90%;
  margin: 50px auto;
  padding: 0px;
  box-shadow: 0 0 20px rgba(110,110,110,0.1);
}


body.edit .widget.navigation, body.edit .widget.extendednavigation {
  overflow: visible;
}

/* ===============================
   HEADER
   =============================== */

header.bk-header {
  padding: 0px;
  width: 100%;
  background-color: @color-swatch7;
  padding: 44px 0 0;
}

header.bk-header .header-wrap {
    padding: 10px 0 44px;
}

header.bk-header .columns-three-right, footer.bk-footer .columns-three-right {
    text-align: right;
}

header.bk-header .widget.profile span, header .widget.profile a {
    letter-spacing: 2px;
    font-size: 12px;
}

header.bk-header .profile-spacing {
    margin: 28px 0 0;
}

header.bk-header .columns-three-right .widget.profile .bk-profile-socialicons span a,
footer.bk-footer .columns-three-right .widget.profile .bk-profile-socialicons span a {
    text-align: left;
}

.companyheader {
  display: block;
  padding: 0 0 0px;
}

/* COMPANY NAME */

.widget.companyname {
  width: 100%;
  text-align: center;
}

.widget.companyname a {
  padding: 0 0 10px;
  text-align: center;
}

.widget.companyname a:hover {
  text-decoration: none;
  cursor: pointer;
}

/* LOGO */

.widget.logo img {
  max-width:100%;
  display: block;
  margin: 0 auto 5px;
}


/* ===============================
   FOOTER
   =============================== */

footer.bk-footer {
    background-color: @color-swatch7;
    border-top: 1px solid darken(@color-swatch2,5%);
    padding: 1.5em 0 2.5em;
    margin-top: 3em;
    color: @color-swatch1;
}

footer.bk-footer .profile-spacing {
    margin: 16px 0 0;
}

footer.bk-footer h1,
footer.bk-footer h2,
footer.bk-footer h3,
footer.bk-footer h4 {
    padding-bottom: 30px
}

footer.bk-footer h2 {
    font-size: bkscale(@font-swatch2-font-size,0.7)
}

/* ===============================
   EXTENDED NAVIGATION
   =============================== */

.widget {
    &.extendednavigation {
        border-top: 2px solid @color-swatch2;
        .clearfix;
        ul {
            width: 100%;
            text-align: center;
            @media @tablet {
                padding-top: 0;
            }
            li {
                float: none;
                display: inline-block;
                &.folder {
                    &:after {
                        top: 46%;
                        right: 10%;
                        @media @tablet {
                            right: 0;
                        }
                    }
                }
                @media @tablet {
                    padding: 0;
                }
            }
        }
        a.pull {
            top: -66px;
        }
    }
}

.bk-pt-default {
    .widget {
        &.extendednavigation {
            border-bottom: 2px solid @color-swatch2;
        }
    }
}

.widget.extendednavigation ul li:hover {
  color: @color-swatch3;
}

.widget.extendednavigation ul li a, .widget.extendednavigation ul li.folder .text {
  display: block;
  padding: 16px 26px;
  margin: 0;
  font-family:@font-swatch6-font-family;
  font-size:@font-swatch6-font-size;
  font-weight: @font-swatch6-font-weight;
  color: @font-swatch6-color;
  line-height:@font-swatch6-line-height;
  letter-spacing: @font-swatch6-letter-spacing;
  
}

.widget.extendednavigation ul li a:hover, .widget.extendednavigation ul li.folder:hover {
  background-color: @font-swatch6-background-color-hover;
  text-decoration: none;
}

.widget.extendednavigation ul li a:hover, .widget.extendednavigation ul li.folder .text:hover {
  color: @font-swatch6-color-hover;
}

.widget.extendednavigation ul li:hover > ul {
  display: block;
  width: 186px;
  position: absolute;
  background-color: @font-swatch6-background-color;
  z-index: 500;
  margin-top: 0;
}

.widget.extendednavigation ul li:hover > ul > li {
  display: block;
  width: 100%;
  text-align: left;
}

.widget.extendednavigation ul li:hover > ul li a {
  padding: 0;
  color: red!important;
}

.widget.extendednavigation ul li:hover > ul > li > a .text {
  margin-left: 0;
  color: @color-swatch5;
}

.widget.extendednavigation ul li:hover > ul > li > a:hover {
  color: @color-swatch3;
}

/* ===============================
   FEATURE
   =============================== */

.widget.feature .feature-bgimg {
    height: 600px
}

.widget.feature .content {
    text-align: center;
    height: 600px;
}

.widget.feature .content {
}

/* FEATURE TITLE */

.widget.feature h2 {
    font-family: @font-swatch8-font-family;
    font-size: @font-swatch8-font-size;
    font-weight: @font-swatch8-font-weight;
    line-height: @font-swatch8-line-height;
    color: @font-swatch8-color;
    letter-spacing: @font-swatch8-letter-spacing;
    text-shadow: 2px 2px 0px @color-swatch3, 2px 2px 2px @color-swatch1;
    
}

/* FEATURE STRAPLINE */

.widget.feature h3 {
    font-family: @font-swatch9-font-family;
    font-size: @font-swatch9-font-size;
    font-weight: @font-swatch9-font-weight;
    line-height: @font-swatch9-line-height;
    color: @font-swatch9-color;
    letter-spacing: @font-swatch9-letter-spacing;
    padding-bottom: 0;
    text-shadow: 1px 1px 0px @color-swatch3;
}

.widget.feature button {
    margin: 2em 0 0;
    padding: 12px 18px;
    border: 0;
    font-family: @font-swatch7-font-family;
    font-size: @font-swatch7-font-size;
    font-weight: @font-swatch7-font-weight;
    background-color: @font-swatch7-background-color;
    color: @font-swatch7-color;
    letter-spacing: @font-swatch7-letter-spacing;
    text-decoration: none;
    
    box-shadow: 0 0 0 3px rgba(51,51,51,0.1);
    text-shadow: 0 1px 0px rgba(0,0,0,0.1);
    
}

.widget.feature button:hover {
    background-color: @font-swatch7-background-color-hover;
    cursor: pointer;
}

/* ===============================
   BUTTON CSS
   =============================== */

.widget.button {
    padding: 4px 0
}

.widget.button button {
    padding: 12px 18px;
    margin: 0;
    border: 0;
    font-family: @font-swatch7-font-family;
    font-size: @font-swatch7-font-size;
    font-weight: @font-swatch7-font-weight;
    background-color: @font-swatch7-background-color;
    line-height: @font-swatch7-line-height;
    letter-spacing: @font-swatch7-letter-spacing;
    color: @font-swatch7-color;
    text-decoration: none;
    text-shadow: 0 1px 0px rgba(0,0,0,0.1);
    
}

.widget.button button:hover {
    background-color: @font-swatch7-background-color-hover;
    cursor: pointer;
}


/* ===============================
   TWITTER WIDGET
   =============================== */

.widget.twitter {
    margin-bottom: 20px;
}

.widget.twitter a {
    color: @color-swatch4;
    font-size: @font-swatch5-font-size;
    text-decoration: none;
}

.widget.twitter a:hover {
    border-bottom: 1px solid @color-swatch3
}

.widget.twitter ul {
    padding: 0;
    margin: 0;
}

.widget.twitter ul li {
    border-bottom: none;
    list-style: none;
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    color: @font-swatch5-color;
    padding: 30px 0;
    border-bottom: 1px solid darken(@color-swatch2,2%);
}

.widget.twitter ul li:last-child {
    border-bottom: 0
}

.widget.twitter .twitter-content span.bk-full-name {
    font-family: @font-swatch4-font-family;
    font-size: 14px;
    font-weight: 400!important;
    color: @color-swatch3;
    font-weight: bold;
}

.widget.twitter a,
.widget.twitter time.created_at,
.widget.twitter span {
    color: @font-swatch5-color;
    font-size: 11px;
    text-decoration: none;
}

/* ===============================
   CONTACT FORM WIDGET
   =============================== */

.widget.contactform form {
    display: block;
    padding: 0;
    margin: 0;  
}

.widget.contactform fieldset {
    border: none;
    padding: 0;
}

.widget.contactform fieldset label {
    width: 100%;
    float: left;
    font-family: @font-swatch4-font-family;
    font-size: bkscale(@font-swatch4-font-size, 0.9);
    font-weight: @font-swatch4-font-weight;
    line-height: @font-swatch4-line-height;
    color: @font-swatch4-color;
}

.widget.contactform fieldset input {
    height: 50px;
    width: 100%;
    border: 1px solid darken(@color-swatch2,5%);
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    color: @font-swatch5-color;
    text-indent: 8px;
    margin-top: 6px;
    margin-bottom: 30px;
    padding: 0;
}

.widget.contactform fieldset textarea {
    height: 100px;
    width: 100%;
    border: 1px solid darken(@color-swatch2,5%);
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    color: @font-swatch5-color;
    text-indent: 8px;
    padding-top: 14px;
    margin-top: 6px;
    margin-bottom: 20px;
    resize: none;
}

.widget.contactform fieldset button.btn {
    padding: 8px 14px;
    margin: 0;
    border: 0;
    font-family: @font-swatch7-font-family;
    font-size: .8em;
    background-color: @font-swatch7-background-color;
    font-weight: @font-swatch7-font-weight;
    line-height: @font-swatch7-line-height;
    letter-spacing: @font-swatch7-letter-spacing;
    color: @font-swatch7-color;
    text-decoration: none;
    text-shadow: 0 1px 0px rgba(0,0,0,0.1);
    
}

.widget.contactform fieldset button.btn:hover {
    background-color: @font-swatch7-background-color-hover;
    cursor: pointer;
}


/* ===============================
   TWEET THIS WIDGET
   =============================== */

.widget.tweet {
    padding: 14px 0
}

.svg .widget.tweet a {
    background-image: image('/images/social/socialicons-twitter.svg');
    background-size: 22px;
    background-color: @font-swatch7-background-color;
    background-position: 14px center;
    background-repeat: no-repeat;
    padding: 16px 18px 16px 40px;
    margin: 1em 0;
    border: 0;
    font-family: @font-swatch7-font-family;
    font-size: @font-swatch7-font-size;
    font-weight: @font-swatch7-font-weight;
    line-height: @font-swatch7-line-height;
    letter-spacing: @font-swatch7-letter-spacing;
    color: @font-swatch7-color;
    text-decoration: none;
    text-shadow: 0 1px 0px rgba(0,0,0,0.1);
}

.widget.tweet a {
    background-image: image('/images/social/socialicons-twitter.png');
}

.widget.tweet a:hover,
.tweet a:active {
    cursor: pointer;
}

/* ==================================
   SOCIAL BAR WIDGET / SOCIAL PROFILE
   =============================== */

.widget.socialicons,
.widget.profile .bk-profile-socialicons {
    padding: 0px;
    font-size: 1em;
    font-family: @font-swatch7-font-family;
}

.widget.socialicons a,
.widget.profile .bk-profile-socialicons a {
    text-decoration: none;
    text-indent: -9999px;
    white-space: nowrap;
}

.widget.profile .bk-profile-socialicons span {
    display: inline-block
}

.widget.socialicons span a,
.widget.profile .bk-profile-socialicons span a {
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 8px;
    background-size: 14px;
    width: 22px;
    height: 22px;
    background-color: @font-swatch7-background-color;
    background-repeat: no-repeat;
    background-position: center;
}

.widget.profile .bk-profile-socialicons span a {
    background-color: @font-swatch7-background-color
}

.widget.socialicons span a:hover,
.widget.profile 
.bk-profile-socialicons span a:hover {
    background-color: @font-swatch7-background-color-hover
}

/* ===============================
   PROFILE WIDGET
   =============================== */

.widget.profile span,
.widget.profile a {
    display: block;
    font-size: @font-swatch5-font-size;
    font-family: @font-swatch5-font-family;
    color: @font-swatch5-color;
    line-height: @font-swatch5-line-height;
    font-weight: @font-swatch5-font-weight;
}

.widget.profile a:hover {
    color: @color-swatch3;
    text-decoration: none;
}

/* FOOTER PROFILE - TWITTER */

.widget.profile ul.twitter {
    padding: 0px;
    margin: 0px;
}

.widget.profile ul.twitter li {
    list-style: none
}

.widget.profile ul.twitter img,
.widget.profile ul.twitter time,
.widget.profile ul.twitter span {
    display: none
}

/* FOOTER PROFILE - SIGNUP FORM */

.widget.profile form {
    padding: 0px;
    margin: 10px 0px;
}

.widget.profile form fieldset {
    padding: 0;
    border: 0;
    margin: 0;
}

.widget.profile form fieldset label {
    width: 100%;
    float: left;
    font-family: @font-swatch4-font-family;
    font-size: bkscale(@font-swatch4-font-size, 0.9);
    font-weight: @font-swatch4-font-weight;
    line-height: @font-swatch4-line-height;
    color: @font-swatch5-color;
    letter-spacing: @font-swatch4-letter-spacing;
}

.widget.profile form fieldset input {
    height: 52px;
    width: 60%;
    border: 1px solid darken(@color-swatch2,5%);
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    color: @font-swatch5-color;
    text-indent: 8px;
    margin-top: 6px;
    padding:0;
}

.widget.profile form fieldset input:focus {
    outline: none
}

.widget.profile form fieldset button {
    height: 52px;
    margin: 0;
    border: 0;
    background-color: transparent;
    font-family: @font-swatch7-font-family;
    font-size: @font-swatch7-font-size;
    font-weight: @font-swatch7-font-weight;
    background-color: @font-swatch7-background-color;
    color: @font-swatch7-color;
    text-decoration: none;
    position: relative;
    top: 1px;
}

.widget.profile form fieldset button:hover {
    background-color: @font-swatch7-background-color-hover;
    cursor: pointer;
}


/* ===============================
   MAP WIDGET
   =============================== */

.widget.map {
    margin: 0px;
    padding: 0;
}

/* ===============================
   SIGNUP FORM WIDGET
   =============================== */

.widget.signupform {
}

.widget.signupform fieldset {
    padding: 0;
    border: 0;
    margin: 0;
}

.widget.signupform label {
    width: 100%;
    float: left;
    font-family: @font-swatch4-font-family;
    font-size: bkscale(@font-swatch4-font-size, 0.9);
    font-weight: @font-swatch4-font-weight;
    line-height: @font-swatch4-line-height;
    color: @font-swatch4-color;
    letter-spacing: @font-swatch4-letter-spacing;
}

.widget.signupform fieldset input {
    height: 50px;
    border: 1px solid darken(@color-swatch2,5%);
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    color: @font-swatch5-color;
    text-indent: 8px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.widget.signupform fieldset input:focus {
    outline: none
}

.widget.signupform button {
    height: 52px;
    margin: 0;
    border: 0;
    font-family: @font-swatch7-font-family;
    font-size: @font-swatch7-font-size;
    font-weight: @font-swatch7-font-weight;
    background-color: @font-swatch7-background-color;
    color: @font-swatch7-color;
    text-decoration: none;
    position: relative;
    top: 1px;
}

.widget.signupform button:hover {
    background-color: @font-swatch7-background-color-hover;
    cursor: pointer;
}


/* ===============================
   SLIDESHOW WIDGET
   =============================== */

.widget.responsiveslideshow {
    .slideshow-image-list,
    .slideshow-widget {
        min-height: 450px;
        @media @tablet {
            min-height: 350px;
        }
        @media @mobile {
            min-height: 280px;
            height: 280px;
        }
    }
    .title {
        display: block;
    }
    .content-wrapper {
        background: rgba(0,0,0,0.5);
    }
    .slideshow-widget {
        /* Arrows */
        .btn-prev,
        .btn-next {
            background-color: transparent;
            background-size: contain;
            width: 35px;
            height: 35px;
            font-size: 0;
            z-index: 11;
            text-indent: -99999px;
            @media @tablet {
                width: 40px;
                height: 40px;
            }
            @media @mobile {
                width: 30px;
                height: 30px;
            }
        }
        .btn-prev {
            background-image: image('/images/slideshow-arrow-left.png');
            background-repeat: no-repeat;
            background-position: center;
        }
        .btn-next {
            background-image: image('/images/slideshow-arrow-right.png');
            background-repeat: no-repeat;
            background-position: center;    
        }
        /* Play Button */
        .btn-play {
            background: rgba(0,0,0,0.5);
            top: 41%;
            width: 50px;
            height: 50px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            &:after {
                top: 43%;
                font-size: 20px;
                color: #fff;
                letter-spacing: -2px;
                top: 2px;
                line-height: 47px;
            }
            @media @tablet {
                width: 40px;
                height: 40px;
                &:after {
                    line-height: 38px;
                }
            }
            @media @mobile {
                width: 30px;
                height: 30px;
                &:after {
                    line-height: 28px;
                }
            }
        }
    }
    /* Slideshow Controls */
    .slideshow-widget-controls {
        .dot {
            width: 11px;
            height: 11px;
            &.selected {
                background-color: @color-swatch3;
                width: 11px;
                height: 11px;
            }
        }
    }
}


/* ===============================
   BLOG
   =============================== */

.widget {
    &.bloglistposts {
        .blog-post-item {
            margin: 0 0 30px;
        }
        .blog-post-feature-image-wrap {  /* Blog post feature image */
            background-size: cover;
            max-width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            height: 250px;
            width: 250px;
            margin-bottom: 20px;
            img {
                display: none;
            }
        }
    }
}

.blog-post-item {
    margin: 1.5em 0;
    padding-bottom: 1em;
    h2 {
        a {
            font-family: @font-swatch2-font-family;
            font-size: @font-swatch2-font-size;
            font-weight: @font-swatch2-font-weight;
            line-height: @font-swatch2-line-height;
            color: @font-swatch2-color;
            letter-spacing: @font-swatch2-letter-spacing;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.blog-post-metadata {
    background-color: transparent;
    background-image: none;
    margin-top: 0;
    text-align: left;
}

.blog-list-footer {
    background-color: transparent;
    background-image: none;
}

.blog-post-more-link {
    float: left;
    width: 100%;
}

/* BLOG SEARCH */
.blogsearch {
    form {
        label {
            display: block;
            margin-bottom: .6em;
            font-family: @font-swatch4-font-family;
            font-size: @font-swatch4-font-size;
            font-weight: @font-swatch4-font-weight;
            line-height: @font-swatch4-line-height;
            color: @font-swatch4-color;
            letter-spacing: @font-swatch4-letter-spacing;
        }
        input {
            height: 50px;
            width: 63%;
            position: relative;
            top: -2px;
            background-color: darken(@color-swatch1,5%);
            border: 1px solid darken(@color-swatch1,10%);
            @media @mobile {
                width: 100%;
                margin-bottom: 10px;
            }
        }
        button {
            background-color: @font-swatch7-background-color;
            font-family: @font-swatch7-font-family;
            font-size: @font-swatch7-font-size;
            font-weight: @font-swatch7-font-weight;
            line-height: @font-swatch7-line-height;
            color: @font-swatch7-color;
            letter-spacing: @font-swatch7-letter-spacing;
            padding: 12px 49px;
            margin: 0;
            border: none;
            text-decoration: none;
            &:hover {
                -webkit-transition: background-color 0.15s ease-in-out;
                -moz-transition: background-color 0.15s ease-in-out;
                -o-transition: background-color 0.15s ease-in-out;
                transition: background-color 0.15s ease-in-out;
            }
        }
    }
}


/* ===============================
   MENU
   =============================== */

.widget {
    &.menu {
        margin: 20px 0;
        h4, .menu-item-nutritional-prop {
            font-size: bkscale(@font-swatch5-font-size,0.9);
        }
        .menu-header {
            text-align: center;
        }
        .menu-items {
            li {
                display: block;
                padding: 20px 0;
                .inner-item {
                    display: block;
                    padding: 0;
                    margin: 0;
                }
                &.menu-item-promoted {
                    padding: 30px;
                    border: 1px solid darken(@color-swatch2,5%);
                }
            }
            .menu-item-image-wrap {
                height: 200px;
                background-size: cover;
                background-position: center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                clear:both;
                background-repeat: no-repeat;
                background-position: center;
                img {
                    display: none;
                }
            }
        }
        .menu-item-price {
            padding: 10px 0;
            p {
                padding: 0;
            }
        }
        .menu-section-item-dietary-props {
            .dietary-icon {
                background-color: @color-swatch3;
                font-size: bkscale(@font-swatch5-font-size,0.7);
                color: @color-swatch1;
                padding: 0px 4px;
            }
        }
        // Menu Subsection
        .menu-subsection {
            padding: 0;
            margin: 0;
        }
        .wrapper {
            width: 100%;
            margin: 0;
        }
    }
}


/* ===============================
   IPAD WIDTH
   =============================== */

@media only screen and (max-width: 768px) { 

    .canvas {
        margin: 30px auto;
    }

    header.bk-header {
        padding: 30px 0px 20px;
    }

    header.bk-header .header-wrap {
        padding: 0 0 20px;
    }

    header.bk-header .profile-spacing {
        display: none;
    }


  /* NAV */


    .widget.extendednavigation {
    max-width: 100%;
    width: 100%;
    padding: 0;
    margin-top: 0;
  }

  .widget .extendednavigation {
    display: block;
    float: left;
    width: 100%;
  }

    /* NAV */

    .widget.extendednavigation ul li:first-child {
        border-top: 1px solid darken(@color-swatch2,5%);
        margin-top: 20px;
    }

    .widget.extendednavigation ul li:hover > ul li:first-child {
        margin-top: 0;
        padding-top: 0;
    }

    .widget.extendednavigation {
        border-top: 0;
    }

    .widget .extendednavigation li {
        width: 100%;
        text-align: center;
    }

    .widget.extendednavigation ul li > ul {
        display: none!important
    }

    .widget.extendednavigation ul li a,
    .widget.extendednavigation ul li.folder .text {
        padding: 12px;
    }

    .widget.extendednavigation ul li:hover > ul {
        display: block!important;
        width: 100%;
        padding: 0;
        margin: 0;
        border-top: 1px solid @color-swatch3;
    }

    footer.bk-footer {
        text-align: center;
    }

    /* OTHER */

    .main {
        padding: 50px 0
    }

    section.page {
        padding: 0 40px
    }

    section.intro {
        padding: 50px 0
    }

    /* FEATURE */

    .widget.feature .feature-bgimg {
        height: 350px
    }

    .widget.feature .feature-bgimg .content {
        height: 350px
    }

    .widget.feature h2 {
        font-size: bkscale(@font-swatch8-font-size,0.75);
        line-height: bkscale(@font-swatch8-line-height,0.8);
    }

    .widget.feature h3 {
        font-size: bkscale(@font-swatch9-font-size,0.9);
        line-height: bkscale(@font-swatch9-line-height,0.8);
    }

    .widget.feature .feature-btn button {
        font-size: .8em;
        padding: 10px;
    }

    /* SIGNUP FORM */

    .widget.signupform fieldset input {
        width: 100%;
    }

    .widget.signupform button {
        width: 35%;
    }

    .widget.profile form button {
        width: 35%;
    }

}

/* ===============================
   IPHONE WIDTH
   =============================== */

@media only screen and (max-width: 480px) { 

    body {
        margin: 0;
    }

    .canvas {
        width: 100%;
        margin: 0;
    }

    header.bk-header {
        padding: 20px 0px 10px;
    }

    header .header-wrap {
        padding: 0px 0 0;
    }

    header.bk-header .columns-three-33-34-33 .columns-three-left, header.bk-header .columns-three-33-34-33 .columns-three-right {
        display: none;
    }

    header.bk-header .columns-three-33-34-33 .columns-three-middle {
        margin-bottom: 0;
    }

    .widget.feature button {
        margin: 1.5em 0 0;
    }

    /* FOOTER */

    footer.bk-footer {
        margin-top: 0;
        padding: 1em 0;
    }

    h2 {
        font-size: bkscale(@font-swatch2-font-size,0.9);
    }

    /* FEATURE */

    .widget.feature .feature-bgimg {
        height: 260px
    }

    .widget.feature .feature-bgimg .content {
        height: 260px
    }

     /* GALLERY */

    .widget.gallery li span.inner .title, .widget.gallery li span.inner .description {
      max-height: 150px;
    }

    .widget.gallery ul.gallery-widget li
    {
        width: 50%;
        padding-bottom: 50%;
    }


   

}
